<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap (Popper included) -->
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap-Select -->
<script type="text/javascript" src="/bootstrapselect/js/bootstrap-select.min.js"></script>

<!-- ChartJS -->
<script type="text/javascript" src="/chartjs/js/Chart.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" src="/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/datatables/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/datatables/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/datatables/js/responsive.bootstrap4.min.js"></script>

<!-- Font Awesome Icons -->
<script type="text/javascript" src="https://kit.fontawesome.com/cacf260cda.js" crossorigin="anonymous"></script>

<!-- SweetAlert 2 -->
<script type="text/javascript" src="/sweetalert2/js/sweetalert2.min.js"></script>

<!-- AdminLTE scripts -->
<script type="text/javascript" src="/adminlte/js/adminlte.min.js"></script>

<!-- Custom scripts -->
<script type="text/javascript" src="/finbook/js/admin_scripts.js"></script>
