<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="author" content="Juan Kevin Trujillo">

<!-- Favicon -->
<link rel="icon" href="/favicon.png">

<title>Reporting</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

<!-- Bootstrap-Select -->
<link rel="stylesheet" type="text/css" href="/bootstrapselect/css/bootstrap-select.min.css">

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="/datatables/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="/datatables/css/responsive.bootstrap4.min.css"/>

<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<!-- SweetAlert 2 -->
<link rel="stylesheet" type="text/css" href="/sweetalert2/css/sweetalert2.min.css">

<!-- Icheck-Bootstrap -->
<link rel="stylesheet" type="text/css" href="/icheck-bootstrap/icheck-bootstrap.min.css">

<!-- AdminLTE styles -->
<link rel="stylesheet" type="text/css" href="/adminlte/css/adminlte.min.css">

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="/finbook/css/admin_styles.css">
